<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <img alt="Uffe standig with his bike before the Siljan runt tour" src="/img/ufferedbike.jpg">
    {{>footer}}
</body>

</html>